
.code a:link {
  color: black;
  text-decoration: none;
}
div.box {
  position: fixed;
  right: 6pt;
  background-color: #ddd;
  padding: 6pt;
  border-color: black;
  border-width: 1px;
  border-style: solid;
}
table.dirlist td, table.dirlist th {
  padding-left: 3pt;
  padding-right: 3pt;
}
table.dirlist .file-size {
  text-align: right;
}
table.dirlist .file-name {
  text-align: left;
}
